
.bin-table-lineno {
	-fx-alignment: center-right;
	-fx-background-color: lightgray;
	-fx-text-fill: blue; 
}

.bin-table-space {
		-fx-alignment: center;
		-fx-background-color: lightgray;
}

.bin-table-cell {
		-fx-alignment: center;
}

.bin-table-cell-highlight {
		-fx-alignment: center;
		-fx-background-color: yellow;
}

.bin-table-cell-change {
		-fx-alignment: center;
		-fx-text-fill: red;
}

.bin-table-cell-highlight-change {
		-fx-alignment: center;
		-fx-text-fill: red;
		-fx-background-color: yellow;
}


.console {
	-fx-text-fill: red; 
}

.winpe32-tree-table-check {
		-fx-alignment: center;
		-fx-text-fill: blue; 
}

.winpe32-tree-table-check-hignligt {
	-fx-alignment: center;
	-fx-background-color: red ;
}

.winpe32-tree-table-name {
	-fx-alignment: center-left;
}

.winpe32-tree-table-raw {
		-fx-alignment: center;
}

.winpe32-tree-table-rva {
		-fx-alignment: center;
		-fx-text-fill: red; 
}

.winpe32-tree-table-offset {
		-fx-alignment: center;
}

.winpe32-tree-table-size {
		-fx-alignment: center;
}

.winpe32-tree-table-value {
		-fx-alignment: center-right;
}

.winpe32-tree-table-analysis {
		-fx-alignment: center-left;
}

.winpe32-tree-table-notes {
		-fx-alignment: center-left;
}

